*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;
text-align: center;}
h2{ font-size: 2.7em;
text-align: center;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;
text-align: justify;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#primera-seccion .container{
    text-align: center;
    padding: 200px 12px;
}
#primera-seccion .texto{
    text-align: justify;
}

#segunda-seccion{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#segunda-seccion .container{
    padding: 0px 0px;

}

#segunda-seccion h2{
    margin-top: 50;
    margin-bottom: 50px;
    font-size: 3.2em;
}

#segunda-seccion p{
    display: none;
}

#segunda-seccion .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.carta:first-child{/*primer tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("/inicio/media/lider1.jpg");
}

.carta:nth-child(2){/*segundo tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider2.jpg");
}

.carta:nth-child(3){/*tercer tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider3.jpg");

}
.carta:nth-child(4){/*cuarto tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider1.jpg");

}
.carta:nth-child(5){/*quinto tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider2.jpg");

}
.carta:nth-child(6){/*sexto tipo de lider*/
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/inicio/media/lider3.jpg");

}


#tercera-seccion .container{
    text-align: center;
    padding: 250px 12px;
}

#tercera-seccion li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #primera-seccion .container{
        display: flex;
        justify-content: space-evenly;
    }

    #primera-seccion .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #primera-seccion h2{
        margin-top: 0px;
    }

    #primera-seccion .img-container{
        background-image: url("/inicio/media/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 100px;
        width: 100px; 
    }

    #segunda-seccion .lideres{
        display: flex;
        justify-content: justify;
    }

    #segunda-seccion p{
        display: block;
        margin-bottom: 30px;
    }

    #segunda-seccion h2{
        font-size: 4em;
    }

    #segunda-seccion h3{
        margin-top: 0;
    }

    #segunda-seccion .carta{
        padding: 50px;
        background-size: 100% 200px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    
    #tercera-seccion{
        background-image: url("/inicio/media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #tercera-seccion .container{
        text-align: initial;
    }

    #tercera-seccion ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #tercera-seccion{
        background-position-x: calc(100vw - 800px);
    }
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #primera-seccion .container{
        display: flex;
        justify-content: justify;
    }
    #primera-seccion .texto{
        width:  50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #primera-seccion h2{
        margin-top: 0px;
    }
    #primera-seccion .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("/inicio/media/Captura-1.png");
        background-size: cover;
        background-position: center center;
        height: 1000px;
        width: 500px;

    }
    #segunda-seccion .lideres{
        display: flex;
        justify-content: center;
    }
    #segunda-seccion p{
        display: block;
        margin-bottom: 30px;
    }
    #segunda-seccion h3{
        margin-top: 0;
        margin-bottom: 0px;
    }
    #segunda-seccion .carta{
        padding: 15px;
        background-position: center center;
        background-size: cover;
    }
    .inicioboton{
        height: 60px;
        width: 60px;
        border-radius: 60px;
        background: url(/inicio/media/inicio.png);
        background-color: royalblue;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }

    
    
}